/* PRODUCT MENU 2 */
.product_menu_2_section{
    // margin-top: 20px;
    background-color: $main_green;
    .product_menu_2_container {
        display: flex;
        .our_services{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            background: $main_green;
            color:#fff;
        }
        .product_menu_2{
            padding: 10px;
            width: 80%;
            background-color: #fff;
            .product_menu_item_2{
                a{
                    text-decoration: none;
                }&:hover{
                    span{
                        color:#fff;
                    }
                }
                span{
                    display: block;
                    text-align: center;
                    color: #fff;
                    margin-top: 10px;
                }
                img{
                    display: block;
                    width: 50px;
                    height: 50px;
                    padding: 5px;
                    margin: auto;
                    background-color: #fff;
                    border:1px solid #ccc;
                    border-radius: 50%;
                }
            }
        }
    }
}
