/* HEADER 2 */

.header_2{
    color: #fff;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.logo_2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:#000;
    /* font-size: 36px; */

}

@import 'main_menu-css/main_menu_2.scss';
