/* HEADER 1 */

.header_woo_1{
    .top_header_woo_1{
        background-color: #77AF3A;
            color: #fff;
        .top_header_woo_1_content{
            .top_header_woo_1_left_size_content{
                div{
                    margin-right: 20px;
                    span{
                        font-size: 14px;
                        text-align: center;
                        margin-left: 5px;
                    }
                    i{
                        font-size: 14px;
                    }
                }
            }
            .top_header_woo_1_right_size_content{
                div{

                    span{
                        font-size: 14px;
                        text-align: center;
                        margin-left: 5px;
                    }
                    i{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .middle_header_woo_1{
        background-color: $main_green;
        color:#fff;
        .logo{
            a{
                text-decoration: none;
                color:#fff;
            }
        }
        .searchform_header_woo_1{
            align-items: center;
            width: 50%;
            form{
                width: 100%;
            }
            .search_container{
                width: 100%;
                position: relative;
                .search_input{
                    display: block;
                    width: 100%;
                    background-color: #86C989;
                    border:none;
                    color:#fff;
                    &::-webkit-input-placeholder { /* Edge */
                      color: #fff;
                    }
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                      color: #fff;
                    }
                    &::placeholder {
                      color: #fff;
                    }
                }button{
                    position: absolute;
                    top:0;
                    left:90%;
                    width: 10%;
                    background-color: #fff;
                    border:none;
                    height:100%;
                }
            }
        }
        .shop_icons{
            align-items: center;
            margin-right: 15px;
            .shop_cart{
                margin-left: 20px;

                i{
                    position: relative;
                    color:#fff;
                    span{
                        width: 15px;
                        height: 15px;
                        background-color: #77AF3A;
                        text-align: center;
                        border-radius:50%;
                        border:1px solid #fff;
                        font-size: 14px;
                        position: absolute;
                        top:-60%;
                        left: 40%;
                    }
                }

            }
        }
        .logo{
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-left: 15px;
        }
    }
    .bottom_header_woo_1{
        background-color: #fff;
        .main_menu_header_woo_1{
            .main_menu{
                .menu_ul{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    .menu-item{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        margin-left: 15px;
                        a{
                            color:$main_text;
                            text-decoration: none;
                            font-size: 14px;
                            height: 100%;
                            &:hover{
                                color:red;
                            }
                        }
                        .sub-menu{
                            display: none;
                            padding: 20px;
                        }
                        &:hover{
                            .sub-menu{
                                display: flex;
                                margin: 0;
                                background-color: #fff;
                                position: absolute;
                                left: 0;
                                z-index: 999;
                                .menu-item{
                                    width: 20%;
                                    border: 1px solid #ccc;
                                    a{
                                        display: block;
                                        padding: 10px;
                                        text-align: center;
                                        img{
                                            // border: 1px solid #ccc;
                                        }
                                        span{
                                            display: block;
                                            padding: 0;
                                            text-align: center;
                                            margin-top: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}

@import "main_menu-css/main_menu_1.scss";
