/* HEADER 1 */

.header_1{
    background-color: #85C441;
    color: #fff;
    .main_menu{
        .menu_ul{
            li{
                padding-bottom: 10px;
                a{
                    color:#fff;
                    text-decoration: none;
                }a:hover{
                    color:red;
                }
                .sub-menu{
                    display: none;
                }
                &:hover{
                    .sub-menu{
                        display: flex;
                        position: absolute;
                        background-color: #fff;
                        li{
                            color: $main_text;
                        }
                    }
                }
            }
        }
    }
}

.logo{
    display: flex;
    align-items: center;
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    p{
        a{
            font-size: 1.4rem;
            text-decoration: none;
            color:#fff;
        }
    }
    h1{
        font-size: 1.4rem;

    }

    margin-left: 15px;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}

@import "main_menu-css/main_menu_1.scss";
