.woocommerce{
    .content-area{
        
        .bgc_color{
            background-color: #fff;
        }
        .margin_top_20px{
            padding-top: 20px;
            margin-top: 20px;
        }
        .product{
            display: flex;
            .reset_padding{
                padding: 0;
            }
            .summary{
                // margin-top: 0;
                h1{
                        margin-top: 0;
                }
            }
            .woocommerce-product-gallery{

                .flex-viewport{
                    position: relative;
                }
                .woocommerce-product-gallery__trigger{
                    position: absolute;
                    top: 5%;
                    left: 5%;
                    z-index: 99;
                }
                .flex-control-nav{
                    display: flex;
                    margin: 0;
                    padding: 0;
                    li{
                        list-style: none;
                        padding: 10px;
                    }
                }
            }
        }
        .related {
            margin-top: 20px;
            .products {
                display: flex;
                li{
                    display: block;
                    width: 16.6666667%;
                    padding: 10px;
                    text-align: center;
                    .woocommerce-LoopProduct-link{
                        display: block;
                        // max-width: 150px;

                    }
                }
            }
        }
        .woocommerce-tabs{
            margin-top: 20px;
            .tabs{
                display:flex;
                li{
                    list-style: none;
                    padding: 5px;
                    a{
                        color:$main_text;
                        text-decoration: none;
                    }
                }
                .active{
                    background-color: $main_green;
                    a{
                        color:#fff;
                        text-decoration: none;
                    }
                }

            }
            .woocommerce-Tabs-panel{

                padding-bottom: 20px;
            }
        }
    }
}
