.top_hits_2_section{
    // margin-top: 20px;
    // margin-bottom: 20px;
    background-color: #fff;
    .top_hits_2_wrapper{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .top_hits_heading_2{
        background-color: #fff;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        .top_hits_2_header{
            align-items: center;
            justify-content: center;
            h1{
                color: $main_text;
            }
        }
        .top_hits_2_header_description{
            align-items: center;
            justify-content: center;
            padding: 20px 20px;
            p{
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }
        .top_hits_2_header_buttons{
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .top_hits_variation_2 ul>li{
            align-items: center;
            justify-content: center;
            list-style: none;
            margin-left: 10px;
            margin-top: 10px;
            padding: 2px 20px;
            border: 1px solid $main_text;
            cursor: pointer;
            &:hover{
                background-color: #ccc;
                color: #fff;
                border: 1px solid #ccc;
            }
        }
    }
    .top_hits_line_2{
        width: 100%;
        height: 1px;
        margin-top:20px;
        margin-bottom: 20px;
        background-color: #E5E5E5;
    }
    // TOp hits items scss
    .top_hits_2{
        overflow: hidden;
        background-color: #fff;
        padding-top: 60px;
        padding-bottom:60px;
        padding-left: 15px;
        padding-right: 15px;

        .top_hits_item_2{
            position: relative;
            padding-bottom: 10px;
            text-decoration: none;
            .top_hits_item__img_2{
                height: 180px;
                position: relative;
                img{
                    display: inline-block;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                }
            }
            h2{
                padding: 10px;
                font-size: 24px;
                color: #666464;
            }
        }
    }

    .top_hits_2_load_ajax{
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
        button{
            background-color: #fff;
            border-radius: 0;
            padding: 4px  20px;
            border: 1px solid $main_text;
            font-size: 1rem;
        }
    }
}
