// MOBILE FIRST

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 576px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 2560px) {

}


//  LARGE SCREEN

@media screen and (max-width: 2560px) {

}

@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {
    .news{
        .news_item{
            span{
                .more{
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 40px;
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 380px) {
    .news{
        .news_item{
            display: block;
            text-align: center;
            margin-bottom: 20px;
            span{
                width: 100%;
            }
        }
    }
}


@media screen and (max-width: 320px) {

}
