.related_products_2_section{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    .first{
        position: relative;
        // background-color: #000;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .second{
        // background-color: #000;
        padding: 10px 10px;
        .second_little{
            padding: 0;
            // background-color: #000;
            img{
                display: block;
                padding: 10px;

            }
        }
    }
}
