.hero_background_2{
    padding-bottom: 20px;
    padding-top: 200px;
    background: rgb(235,226,134);
    background: linear-gradient(0deg, rgba(235,226,134,1) 0%, rgba(249,250,215,1) 37%, rgba(255,255,255,1) 100%);
}
.hero_2{
    .hero_item{
        width: 80%;
        margin: auto;
        .hero_content_wrapper_2{
            width: 50%;
            .hero_content_2{
                width: 100%;
                .hero_content_2_title{
                    display: block;
                    width: 100%;
                    font-size: 24px;
                    font-weight: bold;
                    color: #fff;
                }
                .hero_content_2_description{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    // css
                }
                .hero_content_2_button{
                    margin-top: 20px;
                    .button{
                        display: inline-block;
                        background-color: #3f51b5;
                        border:none;
                        font-size: 16px;
                        font-weight: bold;
                        color:#fff;
                        text-decoration: none;
                        padding-top: 10px;
                        padding-left: 20px;
                        padding-bottom: 10px;
                        padding-right: 20px;
                    }
                }
            }
        }
        .hero_img_2{
            width: 50%;
            img{
                display: block;
                margin: auto;
                width: 60%;
                height: auto;
            }
        }
    }
}
